{% extends "orders/base.html" %}

{% block title %}
    TODO
{% endblock %}

{% block body %}
  
{% for main in entree %}
    <!--h1>{{ main}}</h1-->
    {% if forloop.first %}
        <h2 class="text-center">{{main.category}}</h2>
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="text-center">Option</th>
      <th scope="col" class="text-center">Size</th>
      <th scope="col" class="text-center">Price</th>
    </tr>
  </thead>
    <tbody>
    {%endif%}

        
    <tr>
      <th scope="row" class="table-row small text-center font-weight-bold p-1" data-href="#">{% ifchanged main.name %}{{ main.name}}{% endifchanged %}</th>
      <td class="table-row small text-center p-1" data-href="#">{{ main.size}}</td>
      <td class="table-row small text-center p-1" data-href="#">${{ main.price}}</td>
    </tr>

    {% for addon in addons %}
        <li>
             {{ addon.name }}    
        </li>
        
    {% endfor %} 
    </ul>
{% endfor %} 
  </tbody>
</table>

{% endblock %}
