{% extends "orders/base.html" %}

{% block title %}
TODO
{% endblock %}

{% block body %}
<div class="row">
  {% for category in categories %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ category.name }}</h5>
        <p class="card-text">{{ category.description }}</p>
        <a href="{% url 'category_url' category.id %}" class="btn btn-primary">Customize!</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}