{% extends "orders/base.html" %}

{% block title %}
    TODO
{% endblock %}

{% block body %}
 <div class="row">
    {% for entree in entrees %}
         <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ entree.name }}</h5>
        <p class="card-text">Something here</p>
        <a href="{% url 'entreeurl' entree.id %}" class="btn btn-primary">Customize!</a>
      </div>
    </div>
  </div>

        
    {% endfor %} 
</div>
{% endblock %}





