{% extends "orders/base.html" %}

{% block title %}
TODO
{% endblock %}

{% block body %}
<script type="text/javascript">
    function chkcontrol(j) {
        var total = 0;
        for (var i = 0; i < document.form1.ckb.length; i++) {
            if (document.form1.ckb[i].checked) {
                total = total + 1;
            }
            if (total > {{ item.addonLimit }}) {
            alert("Please Select only {{ item.addonLimit }}")
            document.form1.ckb[j].checked = false;
            return false;
        }
    }
}
</script>
<h1>{{ item }}</h1>
<h2>{{ item.price}}</h2>
<form name=form1 method=post action="">
    <ul>

        {% for addon in addons %}
        <div class="form-check form-check-inline">
            <input id="checkbox-{{ addon.pk}}" class="form-check-input" type=checkbox name=ckb value="{{ addon.pk}}"
                onclick='chkcontrol({{ forloop.counter0 }})' ;>
            <label class="form-check-label" for="checkbox-{{ addon.pk}}"> {{ addon.name }}</label>
        </div>
        {% endfor %}
        
    </ul>
</form>
{% endblock %}