{% extends "orders/base.html" %}

{% block title %}
{{ item.category }} - {{ item.name }} ({{ item.size }})
{% endblock %}

{% block body %}
<script type="text/javascript">
    function control(j) {
        var total = 0;
        for (var i = 0; i < document.form.addon_id.length; i++) {
            if (document.form.addon_id[i].checked) {
                total = total + 1;
            }
            if (total > {{ item.addonLimit }}) {
            alert("Please Select only {{ item.addonLimit }}")
            document.form.addon_id[j].checked = false;
            return false;
        }
    }
};
</script>
<div class="card text-center">
    <form name=form method=post action="{% url 'cart' %}">
            {% csrf_token %}
        <div class="card-header">
            <h2>{{ item.category }} - {{ item.name }} ({{ item.size }}) </h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ item.description}}</h5>

            <input name="item_id" type="hidden" value="{{ item.pk }}">
            {% for addon in addons %}
            <div class="form-check form-check-inline">
                <input id="checkbox-{{ addon.pk}}" class="form-check-input" type=checkbox name="addon_id" value="{{ addon.pk}}"
                    onclick='control({{ forloop.counter0 }})' ;>
                <label class="form-check-label" for="checkbox-{{ addon.pk}}"> {{ addon.name }}</label>
            </div>
            {% endfor %}
            <div class="mt-4">
                <h5>Price: ${{ item.price}}</h5>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-success" type="submit">Add to cart!</button>
        </div>
    </form>
</div>
{% endblock %}